@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary: #F2C94C;
    --black: #333333;
    --width-break:600px
}

body {
    margin: 0;
    font-family: 'Kalam', cursive;
    color: #333333;
    background-image: url("https://cdn.shopify.com/s/files/1/0285/1316/products/w0275_1s_Velvet-Bananas-Removable-Peel-and-Stick-Wallpaper_Repeating-Pattern-Sample-2.jpg?v=1604091425");        
}

nav {
    background-color: var(--primary);
    text-align: center;
    background-image: url("https://wallpaperaccess.com/full/889244.jpg");
}

main {
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
    
}

textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family: inherit;
    
}

button {
    background-image: url("https://wallpaperaccess.com/full/889244.jpg");
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-family: 'Kalam', cursive;
    font-size: large;
    border-radius: 1rem;
}


#output-box{
    box-sizing: border-box;
    width: 100%;
    min-height: 10vh;
    max-height: 20vh;
    overflow:scroll;
    border: 1px solid var(--black);
    border-radius: 1rem 0 0 0;
    background-color: beige;

}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary);
    text-align: center;
    background-image: url("https://wallpaperaccess.com/full/889244.jpg");
    
}

footer p {
    max-width: var(--width-break);
    margin: auto;
}
#bottom{
    font-size: x-large;
}
#banana{
    padding: 1rem;
    font-size:2rem;
}